    <!-- HEADER -->
<header id="header">
    <div id="logo-group">

        <!-- PLACE YOUR LOGO HERE -->
        <span id="logo" style="clear: both;width: 500px;"><p style="float: left;font-size: x-large;color: #bd1616;">WMS</p><p style="float: left;;font-size: x-large;color: #100c0c;padding-left:10px">Global Report</p> </span>

        <!-- END LOGO PLACEHOLDER -->
      
    </div>
  
    <section id="top-right">
     
            <div class="pull-right">
                @Html.Partial("_TopRight")
            </div>
    
    </section>
</header>
<!-- END HEADER -->