body {
    margin-left:15px;
    margin-right:15px; 
}

.PrintTitle {
   font-family: 宋体;
   font-weight: bold;
   font-size: 10px;
   text-align: right;
   margin-right: -20px;
   margin-left: -10px;
}
.PrintTitleValue {
   font-size: 10px;
   font-weight: bolder;
   text-align: left;
}
.line-dashed {
    border-top: 1px dashed #4eaff1;
    color: #ffffff;
    background-color: #ffffff;
    height: 1px;
    margin: 20px 0;
}

 