@{
    Layout = null;
}

<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>WMS | 访问拒绝</title>

    @Styles.Render("~/Content/css")
    @Styles.Render("~/font-awesome/css")

</head>

<body class="gray-bg">


    <div class="middle-box text-center animated fadeInDown">
        <h2>访问拒绝</h2>

        <div class="error-desc">
            登录失败，此用户没有任何仓库权限! 
        </div>
    </div>


</body>

</html>


