
@{
    ViewBag.Title = "OrderDetail";
}
<div id="content">
    <div class="row margin-top-5">
        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">
                <div style="border:none;color:#583358;padding-bottom:15px;">
                    <div style="border-bottom:1px solid #797979;line-height:35px;height:35px;margin-bottom:10px;font-weight:700">
                        基本信息-待处理
                    </div>
                    <div class="row" style="line-height:35px;height:35px;">
                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                            <span>订单信息：</span>
                            <span>2017101500021321</span>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                            <span>创建时间：</span>
                            <span>2017-10-15 12:31:45</span>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                            <span>支付时间：</span>
                            <span>2017-10-15 12:32:45</span>
                        </div>
                    </div>
                    <div class="row" style="line-height:35px;height:35px;">
                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                            <span>订单状态：</span>
                            <span>待处理</span>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                            <span>用户名：</span>
                            <span>张三</span>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                            <span>手机号：</span>
                            <span>15596888137</span>
                        </div>
                    </div>
                    <div class="row" style="line-height:35px;height:35px;">
                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                            <span>订单应付金额：</span>
                            <span>￥50.00</span>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                            <span>是否支付：</span>
                            <span>已支付</span>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        </div>
                    </div>
                </div>
            </div>
        </article>

        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">
                <div style="border:none;color:#583358;padding-bottom:15px;">
                    <div style="border-bottom:1px solid #797979;line-height:35px;height:35px;margin-bottom:10px;font-weight:700">
                        充值信息
                    </div>
                    <div class="row" style="line-height:35px;height:35px;">
                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                            <span>充值金额：</span>
                            <span>￥50.00</span>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                            <span>充值时间：</span>
                            <span>2017-10-15 12:31:45</span>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">

                        </div>
                    </div>
                    <div class="row" style="line-height:35px;height:35px;">
                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                            <span>中石油账户：</span>
                            <span>zhangsan</span>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                            <span>密码：</span>
                            <span>zhangsan</span>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        </div>
                    </div>
                    <div class="row" style="line-height:35px;height:35px;">
                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                            <span>充值油卡：</span>
                            <span>6101222123401092111</span>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                            <span style="padding:5px 6px;border-radius: 3px;background-color:#f5f5f5;border: 1px solid #696969; cursor: pointer;">前往中石油充值</span>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        </div>
                    </div>
                </div>
            </div>
        </article>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div style="text-align:right">
                <span style="padding:5px 20px;border-radius: 3px;border: 1px solid #696969;cursor: pointer;background-color:#f3f3f3;color:#333333">
                    已完成充值
                </span>
            </div>
            <div style="text-align:right;margin-top:20px;">
                <span style="padding:0 23px;color:#333333;cursor:pointer">
                    关闭订单
                </span>
            </div>
        </div>
    </div>
</div>

